<section class="biography-block">
    <div class="profile">
        <h2> Hi, I'm Ilona van Oosbree! </h2>
        <img src="/assets/images/profilephoto.jpg" alt="Ilona van Oosbree" class="profile-image" style="width: 15em; height: 10em;">
    </div>
</section>