<footer class="site-footer">
    <section class="container col-three">
        <div class="footer--social">
            <a class="socials" href="https://www.linkedin.com/in/ilona-van-oosbree-75644b1b9/" target="_blank" aria-label="LinkedIn" rel="noopener">
                <span class="icon-social">LinkedIn</span>
            </a>
            <a class="socials" href="https://github.com/smolgeorgie" target="_blank" aria-label="Github" rel="noopener">
                <span class="icon-social">Github</span>
            </a>
        </div>
        <article class="footer--menu">
            <h4 class="sitemap">Sitemap:</h4>
            <ul class="menu-item">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/blog/">Blog</a>
                </li>
                <li>
                    <a href="/about/">About</a>
                </li>
            </ul>
        </article>
        <div class="copyright">
            <p class="no-top">I love web © All Rights Reserved 2024</p>
        </div>
    </section>
</footer>
<style>
    .menu-item {
        display: flex;
        flex-direction: row;
        gap: 1em;
        list-style-type: none;
    }
    .menu-item a {
        text-decoration: none;
        color: lightgrey;
    }
</style>