<header class="container--full page-header">
	<div class="page-header--content">
		<nav class="primary-nav">
			<ul role="list" class="nav-list flex-group">
				<li role="listitem"><a href="/blog/">BLOG</a></li>
				<li role="listitem"><a href="/about/">ABOUT</a></li>
			</ul>
		</nav>
	</div>
</header>

<style>

.primary-nav {
    position: fixed;
    top: 3%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.nav-list {
    height: 3rem;
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    border-radius: 25px;
    background: white;
	padding: 0 .5em 0 .5em;
    margin-top: 2em;
    font-weight: bold;
}

.nav-list li {
    list-style-type: none;
}

.nav-list a {
    color: black;
	text-decoration: none;
}
</style>
	