@import url("/assets/css/_post-card.css");
@import url("/assets/css/_recent-post.css");
@import url("/assets/css/_biography.css");

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #eec382;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.container--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-size: 7.5rem;
    font-weight: 700;
    margin: 0;
    color: #333;
}

 .name {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin: 0.5rem;
}

.animated-me {
    border-radius: 20px;
    width: 30rem;
    margin-top: 2rem;
}

.big-circle_1 {
    background-color: #e39249;
    height: 60rem; 
    width: 60rem; 
    border-radius: 50%; 
    z-index: 1; 
}

